SMTP_KEY=d5482310eea819e9639d84f68797a661
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_USERNAME=<your-username>
SMTP_PASSWORD=<your-password>
SMTP_PORT=2525

PSQL_HOST=localhost
PSQL_PORT=5433 # Use the port exposed in our machine
PSQL_USER=bob
PSQL_PASSWORD=1234
PSQL_DATABASE=lenslocked
PSQL_SSLMODE=disable

CSRF_SECURE=false
CSRF_KEY=y9l+6u<-- 32 byte string -->92xA7g6A=